<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml">
	<%= render "/division3/Header" %>
	<body id="idBody">
		<div id="idGeneralLayout">
			<Header id="idHeaderRow">
				<div id="idHeaderRowCenter">
					<%= render "/Universal/Logo" %>
				</div>
			</Header>
			<Nav id="idNavigationRow">
				<div id="idNavigationBar">
					<%= render "/Universal/NavBar" %>
				</div>
			</div>				
			<div id="idCenterRow">
				<div id="idCenterRowLeft">
					<%= render "/Universal/NavigationHeader" %>
					<%= render "/division3/Navigation" %>
				</div>
				<div id="idCenterRowMain">
					<%= yield %>
				</div>
				<div id="idCenterRowRight">
					<%= render "/Universal/InfoHeader" %>
					<%= render "/Universal/InfoLanguage" %>
					<%= yield :versions %>
				</div>
			</div>
			<Footer id="idFooterRow">
				<div id="idFooterMain">
					<%= render "/Universal/Footer" %>
					<%= render "/Universal/Management" %>
				</div>
			</div>
		</div>
	</body>
</html>