<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">
<html>
<%= render "/section2/Header" %>
<body id="idBody">
    <table id="idTableMain">
        <tr id="idHeaderRow">
            <td id="idHeaderRowCenter" colspan="3">
                <%= image_tag("logo_HouseThatKamuraiBuilt_blueonblack.jpg", :alt => "Logo") %>
            </td>
        </tr>
        <tr id="idNavigationRow">
            <td id="idNavigationBar" colspan="3">
                <%= render "/Universal/NavBar" %>
            </td>
        </tr>				
        <tr id="idCenterRow">
            <td id="idCenterRowLeft">
                <%= render "/Universal/NavigationHeader" %>
                <%= render "/section26/Navigation" %>
            </td>
            <td id="idCenterRowMain">
                <%= yield %>
            </td>
            <td id="idCenterRowRight">
                <%= render "/Universal/InfoHeader" %>
                <%= render "/Universal/InfoLanguage" %>
                <%= yield :versions %>
            </td>
        </tr>
        <tr id="idFooterRow">
            <td id="idFooterMain" colspan="3">
                <%= render "/Universal/Footer" %>
                <%= render "/Universal/Management" %>
            </td>
        </tr>
    </table>
</body>
</html>